context/rule-references/uad-3.6/GSE_UAD_3.6.0_v1.3_schema/Individual/GSE_UAD_3.6.0_ComplexTypeExtensions_v1.3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:annotation>
		<xsd:documentation>Version: GSE 3.6.0 Build: v1.3 Date: 2024-08-05</xsd:documentation>
		<xsd:documentation>GSE Subschema and Related Documentation © 2024 Fannie Mae and Freddie Mac. Subject to the UCDP Terms and Conditions published by Fannie Mae and Freddie Mac and as amended from time to time.</xsd:documentation>
		<xsd:documentation>IMPORTANT NOTICE: The GSE Subschema and Related Documentation are based upon and/or incorporate elements of the XML Schema 3.6 (MISMO Components), which Schema is a MISMO Product as defined in version 2.0 of the Intellectual Property Rights Policy of the Mortgage Industry Standards Maintenance Organization, Inc. ("MISMO") (available for reference at http://www.mismo.org). Fannie Mae and Freddie Mac are licensed to distribute the MISMO Components pursuant to the then-current MISMO Distributor License, also published at http://www.mismo.org. </xsd:documentation>
		<xsd:documentation>MISMO Products are encouraged to register with MISMO as a MISMO Product user (use https://www.mismo.org/get-involved/register-as-a-mismo-product-user). </xsd:documentation>
	</xsd:annotation>
	<xsd:include schemaLocation="GSE_UAD_3.6.0_ExtensionDetails_v1.3.xsd"/>
	<xsd:complexType name="ABOUT_VERSION_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="ABOUT_VERSION_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ABOUT_VERSIONS_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="ABOUT_VERSIONS_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ACCESS_STREET_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="ACCESS_STREET_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ACCESS_STREETS_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="ACCESS_STREETS_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ACCESSIBILITY_FEATURE_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="ACCESSIBILITY_FEATURE_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ACCESSIBILITY_FEATURES_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="ACCESSIBILITY_FEATURES_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ADDITIONAL_ADDRESSES_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="ADDITIONAL_ADDRESSES_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ADDITIONAL_IDENTIFIER_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="ADDITIONAL_IDENTIFIER_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ADDITIONAL_IDENTIFIERS_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="ADDITIONAL_IDENTIFIERS_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ADDITIONAL_RENTAL_COMPARISON_ITEM_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="ADDITIONAL_RENTAL_COMPARISON_ITEM_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ADDITIONAL_RENTAL_COMPARISON_ITEMS_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="ADDITIONAL_RENTAL_COMPARISON_ITEMS_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ADDITIONAL_RENTAL_INCOME_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="ADDITIONAL_RENTAL_INCOME_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ADDITIONAL_RENTAL_INCOMES_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="ADDITIONAL_RENTAL_INCOMES_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ADDITIONAL_REQUESTED_CONDITIONAL_VALUATION_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="ADDITIONAL_REQUESTED_CONDITIONAL_VALUATION_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ADDITIONAL_REQUESTED_CONDITIONAL_VALUATIONS_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="ADDITIONAL_REQUESTED_CONDITIONAL_VALUATIONS_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ADDRESS_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="ADDRESS_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ADDRESSES_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="ADDRESSES_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AIRPORT_ZONE_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="AIRPORT_ZONE_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AIRPORT_ZONES_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="AIRPORT_ZONES_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AMENITIES_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="AMENITIES_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AMENITY_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="AMENITY_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AMENITY_CATEGORIES_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="AMENITY_CATEGORIES_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AMENITY_CATEGORY_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="AMENITY_CATEGORY_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AMENITY_CATEGORY_DETAIL_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="AMENITY_CATEGORY_DETAIL_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AMENITY_DETAIL_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="AMENITY_DETAIL_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="APPRAISER_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="APPRAISER_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="APPRAISER_DETAIL_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="APPRAISER_DETAIL_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="APPRAISER_IDENTIFIER_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="APPRAISER_IDENTIFIER_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="APPRAISER_IDENTIFIERS_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="APPRAISER_IDENTIFIERS_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="APPRAISER_LICENSE_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="APPRAISER_LICENSE_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="APPROACH_TO_VALUE_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="APPROACH_TO_VALUE_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ARCHITECTURAL_DESIGN_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="ARCHITECTURAL_DESIGN_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ASSOCIATION_CHARGE_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="ASSOCIATION_CHARGE_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ASSOCIATION_CHARGE_DETAIL_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="ASSOCIATION_CHARGE_DETAIL_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ASSOCIATION_CHARGE_INCLUDES_UTILITIES_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="ASSOCIATION_CHARGE_INCLUDES_UTILITIES_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ASSOCIATION_CHARGE_INCLUDES_UTILITY_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="ASSOCIATION_CHARGE_INCLUDES_UTILITY_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ASSOCIATION_CHARGES_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="ASSOCIATION_CHARGES_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ATTIC_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="ATTIC_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ATTIC_DETAIL_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="ATTIC_DETAIL_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="BODIES_OF_WATER_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="BODIES_OF_WATER_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="BODY_OF_WATER_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="BODY_OF_WATER_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CAR_STORAGE_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="CAR_STORAGE_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CAR_STORAGE_DETAIL_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="CAR_STORAGE_DETAIL_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CAR_STORAGES_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="CAR_STORAGES_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CEILING_HEIGHT_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="CEILING_HEIGHT_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CEILING_HEIGHTS_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="CEILING_HEIGHTS_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CEILING_STYLE_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="CEILING_STYLE_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CEILING_STYLES_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="CEILING_STYLES_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="COMPARABLE_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="COMPARABLE_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="COMPARABLE_ADJUSTMENT_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="COMPARABLE_ADJUSTMENT_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="COMPARABLE_ADJUSTMENTS_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="COMPARABLE_ADJUSTMENTS_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="COMPARABLE_DETAIL_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="COMPARABLE_DETAIL_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CONDITION_COVENANT_RESTRICTION_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="CONDITION_COVENANT_RESTRICTION_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CONDITION_COVENANT_RESTRICTIONS_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="CONDITION_COVENANT_RESTRICTIONS_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CONSTRUCTION_METHOD_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="CONSTRUCTION_METHOD_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CONSTRUCTION_METHODS_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="CONSTRUCTION_METHODS_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CONTACT_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="CONTACT_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CONTACTS_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="CONTACTS_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CONVERSION_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="CONVERSION_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CONVERTED_AREA_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="CONVERTED_AREA_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CONVERTED_AREAS_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="CONVERTED_AREAS_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="COOLING_SYSTEM_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="COOLING_SYSTEM_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="COOLING_SYSTEMS_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="COOLING_SYSTEMS_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="COST_APPROACH_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="COST_APPROACH_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="COST_APPROACH_DETAIL_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="COST_APPROACH_DETAIL_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DATA_SOURCE_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="DATA_SOURCE_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DATA_SOURCES_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="DATA_SOURCES_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DEAL_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="DEAL_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DEAL_SET_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="DEAL_SET_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DEAL_SETS_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="DEAL_SETS_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DEALS_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="DEALS_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DEFECT_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="DEFECT_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DEFECT_DETAIL_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="DEFECT_DETAIL_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DEFECTS_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="DEFECTS_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DESIGNATION_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="DESIGNATION_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DESIGNATIONS_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="DESIGNATIONS_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DISASTER_MITIGATION_FEATURE_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="DISASTER_MITIGATION_FEATURE_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DISASTER_MITIGATION_FEATURES_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="DISASTER_MITIGATION_FEATURES_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DOCUMENT_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="DOCUMENT_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DOCUMENT_CLASS_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="DOCUMENT_CLASS_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DOCUMENT_CLASSES_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="DOCUMENT_CLASSES_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DOCUMENT_CLASSIFICATION_DETAIL_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="DOCUMENT_CLASSIFICATION_DETAIL_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DOCUMENT_CLASSIFICATION_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="DOCUMENT_CLASSIFICATION_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DOCUMENT_SET_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="DOCUMENT_SET_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DOCUMENT_SETS_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="DOCUMENT_SETS_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DOCUMENTS_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="DOCUMENTS_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DRAINAGE_IMPACT_REASON_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="DRAINAGE_IMPACT_REASON_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DRAINAGE_IMPACT_REASONS_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="DRAINAGE_IMPACT_REASONS_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="EASEMENT_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="EASEMENT_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="EASEMENTS_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="EASEMENTS_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ENCROACHMENT_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="ENCROACHMENT_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ENCROACHMENTS_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="ENCROACHMENTS_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ENCUMBRANCE_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="ENCUMBRANCE_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ENCUMBRANCE_DETAIL_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="ENCUMBRANCE_DETAIL_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ENCUMBRANCES_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="ENCUMBRANCES_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ENERGY_EFFICIENCY_AND_GREEN_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="ENERGY_EFFICIENCY_AND_GREEN_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ENERGY_EFFICIENCY_AND_GREEN_DETAIL_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="ENERGY_EFFICIENCY_AND_GREEN_DETAIL_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ENVIRONMENTAL_CONDITION_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="ENVIRONMENTAL_CONDITION_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ENVIRONMENTAL_CONDITIONS_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="ENVIRONMENTAL_CONDITIONS_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="EXECUTION_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="EXECUTION_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="EXECUTION_DETAIL_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="EXECUTION_DETAIL_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="EXTERIOR_WALL_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="EXTERIOR_WALL_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="EXTERIOR_WALLS_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="EXTERIOR_WALLS_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="FLOOR_COVERING_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="FLOOR_COVERING_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="FLOOR_COVERINGS_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="FLOOR_COVERINGS_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="FOREIGN_OBJECT_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="FOREIGN_OBJECT_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="FOUNDATION_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="FOUNDATION_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="FOUNDATION_MATERIAL_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="FOUNDATION_MATERIAL_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="FOUNDATION_MATERIALS_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="FOUNDATION_MATERIALS_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="FOUNDATION_STYLE_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="FOUNDATION_STYLE_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="FOUNDATION_STYLES_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="FOUNDATION_STYLES_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="FOUNDATIONS_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="FOUNDATIONS_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="FUNCTIONAL_ISSUE_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="FUNCTIONAL_ISSUE_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="FUNCTIONAL_ISSUES_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="FUNCTIONAL_ISSUES_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="GEOSPATIAL_INFORMATION_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="GEOSPATIAL_INFORMATION_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="GREEN_BUILDING_CERTIFICATION_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="GREEN_BUILDING_CERTIFICATION_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="GREEN_BUILDING_CERTIFICATIONS_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="GREEN_BUILDING_CERTIFICATIONS_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="GREEN_EFFICIENCY_RATING_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="GREEN_EFFICIENCY_RATING_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="GREEN_EFFICIENCY_RATINGS_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="GREEN_EFFICIENCY_RATINGS_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="HAZARD_ZONE_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="HAZARD_ZONE_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="HAZARD_ZONES_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="HAZARD_ZONES_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="HEATING_SYSTEM_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="HEATING_SYSTEM_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="HEATING_SYSTEMS_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="HEATING_SYSTEMS_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="HIGHEST_AND_BEST_USE_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="HIGHEST_AND_BEST_USE_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="HOMEOWNERS_ASSOCIATION_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="HOMEOWNERS_ASSOCIATION_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="HOMEOWNERS_ASSOCIATIONS_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="HOMEOWNERS_ASSOCIATIONS_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="IMAGE_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="IMAGE_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="IMAGES_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="IMAGES_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="IMPROVEMENT_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="IMPROVEMENT_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="IMPROVEMENT_COST_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="IMPROVEMENT_COST_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="IMPROVEMENT_COST_AND_DEPRECIATED_VALUE_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="IMPROVEMENT_COST_AND_DEPRECIATED_VALUE_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="IMPROVEMENT_COST_AND_DEPRECIATED_VALUES_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="IMPROVEMENT_COST_AND_DEPRECIATED_VALUES_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="IMPROVEMENT_COST_DETAIL_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="IMPROVEMENT_COST_DETAIL_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="IMPROVEMENT_DEPRECIATED_VALUE_SUMMARY_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="IMPROVEMENT_DEPRECIATED_VALUE_SUMMARY_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="IMPROVEMENT_DEPRECIATION_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="IMPROVEMENT_DEPRECIATION_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="IMPROVEMENT_DETAIL_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="IMPROVEMENT_DETAIL_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="IMPROVEMENTS_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="IMPROVEMENTS_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="INCOME_APPROACH_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="INCOME_APPROACH_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="INCOME_APPROACH_DETAIL_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="INCOME_APPROACH_DETAIL_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="INDIVIDUAL_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="INDIVIDUAL_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="INSPECTION_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="INSPECTION_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="INSPECTION_DETAIL_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="INSPECTION_DETAIL_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="INSPECTION_SERVICE_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="INSPECTION_SERVICE_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="INSPECTION_SERVICE_RESPONSE_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="INSPECTION_SERVICE_RESPONSE_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="INSPECTION_SERVICE_RESPONSE_DETAIL_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="INSPECTION_SERVICE_RESPONSE_DETAIL_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="INSPECTIONS_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="INSPECTIONS_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="INTERIOR_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="INTERIOR_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="INTERIOR_COMPONENT_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="INTERIOR_COMPONENT_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="INTERIOR_COMPONENT_DETAIL_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="INTERIOR_COMPONENT_DETAIL_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="INTERIOR_COMPONENTS_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="INTERIOR_COMPONENTS_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="INTERIOR_ROOM_SUMMARIES_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="INTERIOR_ROOM_SUMMARIES_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="INTERIOR_ROOM_SUMMARY_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="INTERIOR_ROOM_SUMMARY_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="LEGAL_ENTITY_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="LEGAL_ENTITY_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="LEGAL_ENTITY_DETAIL_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="LEGAL_ENTITY_DETAIL_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="LEVEL_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="LEVEL_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="LEVELS_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="LEVELS_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="LICENSE_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="LICENSE_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="LICENSE_DETAIL_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="LICENSE_DETAIL_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="LICENSES_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="LICENSES_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="LISTING_INFORMATION_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="LISTING_INFORMATION_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="LISTING_INFORMATION_DETAIL_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="LISTING_INFORMATION_DETAIL_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="LISTING_INFORMATION_SUMMARY_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="LISTING_INFORMATION_SUMMARY_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="LISTING_INFORMATIONS_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="LISTING_INFORMATIONS_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="LOCATION_IDENTIFIER_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="LOCATION_IDENTIFIER_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="MANUFACTURED_HOME_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="MANUFACTURED_HOME_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="MANUFACTURED_HOME_DETAIL_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="MANUFACTURED_HOME_DETAIL_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="MANUFACTURED_HOME_FINANCING_PROGRAM_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="MANUFACTURED_HOME_FINANCING_PROGRAM_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="MANUFACTURED_HOME_FINANCING_PROGRAMS_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="MANUFACTURED_HOME_FINANCING_PROGRAMS_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="MANUFACTURED_HOME_MODIFICATION_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="MANUFACTURED_HOME_MODIFICATION_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="MANUFACTURED_HOME_MODIFICATIONS_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="MANUFACTURED_HOME_MODIFICATIONS_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="MANUFACTURED_HOME_SECTION_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="MANUFACTURED_HOME_SECTION_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="MANUFACTURED_HOME_SECTIONS_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="MANUFACTURED_HOME_SECTIONS_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="MARKET_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="MARKET_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="MARKET_DETAIL_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="MARKET_DETAIL_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="MARKET_INVENTORIES_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="MARKET_INVENTORIES_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="MARKET_INVENTORY_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="MARKET_INVENTORY_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="MARKET_TREND_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="MARKET_TREND_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="MECHANICAL_SYSTEM_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="MECHANICAL_SYSTEM_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="MECHANICAL_SYSTEMS_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="MECHANICAL_SYSTEMS_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="MESSAGE_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="MESSAGE_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="NAME_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="NAME_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="NEIGHBORHOOD_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="NEIGHBORHOOD_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="NEIGHBORHOOD_DETAIL_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="NEIGHBORHOOD_DETAIL_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="NON_CONTIGUOUS_PARCEL_SEPARATOR_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="NON_CONTIGUOUS_PARCEL_SEPARATOR_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="NON_CONTIGUOUS_PARCEL_SEPARATORS_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="NON_CONTIGUOUS_PARCEL_SEPARATORS_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ORIGINAL_VALUATION_CONDITION_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="ORIGINAL_VALUATION_CONDITION_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ORIGINAL_VALUATION_CONDITIONS_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="ORIGINAL_VALUATION_CONDITIONS_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="OUTBUILDING_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="OUTBUILDING_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="OUTBUILDING_UTILITIES_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="OUTBUILDING_UTILITIES_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="OUTBUILDING_UTILITY_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="OUTBUILDING_UTILITY_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PARCEL_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="PARCEL_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PARCEL_DETAIL_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="PARCEL_DETAIL_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PARCEL_IDENTIFICATION_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="PARCEL_IDENTIFICATION_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PARCEL_IDENTIFICATIONS_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="PARCEL_IDENTIFICATIONS_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PARCEL_SUMMARY_DETAIL_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="PARCEL_SUMMARY_DETAIL_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PARCEL_SUMMARY_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="PARCEL_SUMMARY_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PARCELS_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="PARCELS_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PARTIES_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="PARTIES_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PARTY_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="PARTY_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PROJECT_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="PROJECT_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PROJECT_AMENITIES_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="PROJECT_AMENITIES_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PROJECT_AMENITY_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="PROJECT_AMENITY_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PROJECT_ANALYSIS_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="PROJECT_ANALYSIS_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PROJECT_BLANKET_FINANCING_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="PROJECT_BLANKET_FINANCING_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PROJECT_BLANKET_FINANCINGS_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="PROJECT_BLANKET_FINANCINGS_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PROJECT_COMPONENT_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="PROJECT_COMPONENT_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PROJECT_COMPONENTS_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="PROJECT_COMPONENTS_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PROJECT_DETAIL_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="PROJECT_DETAIL_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PROJECT_DEVELOPER_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="PROJECT_DEVELOPER_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PROJECT_FINANCIAL_INFORMATION_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="PROJECT_FINANCIAL_INFORMATION_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PROPERTIES_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="PROPERTIES_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PROPERTY_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="PROPERTY_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PROPERTY_ACCESS_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="PROPERTY_ACCESS_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PROPERTY_ACCESS_DETAIL_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="PROPERTY_ACCESS_DETAIL_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PROPERTY_AMENITY_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="PROPERTY_AMENITY_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PROPERTY_DATA_COLLECTOR_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="PROPERTY_DATA_COLLECTOR_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PROPERTY_DEFECT_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="PROPERTY_DEFECT_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PROPERTY_DEFECT_SUMMARY_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="PROPERTY_DEFECT_SUMMARY_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PROPERTY_DETAIL_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="PROPERTY_DETAIL_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PROPERTY_GROUND_RENT_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="PROPERTY_GROUND_RENT_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PROPERTY_NOT_USED_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="PROPERTY_NOT_USED_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PROPERTY_NOT_USED_DETAIL_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="PROPERTY_NOT_USED_DETAIL_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PROPERTY_NOT_USED_REASON_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="PROPERTY_NOT_USED_REASON_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PROPERTY_NOT_USED_REASONS_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="PROPERTY_NOT_USED_REASONS_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PROPERTY_TAX_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="PROPERTY_TAX_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PROPERTY_TAX_DETAIL_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="PROPERTY_TAX_DETAIL_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PROPERTY_TAX_EXEMPTION_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="PROPERTY_TAX_EXEMPTION_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PROPERTY_TAX_EXEMPTIONS_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="PROPERTY_TAX_EXEMPTIONS_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PROPERTY_TAXES_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="PROPERTY_TAXES_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PROPERTY_UNIT_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="PROPERTY_UNIT_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PROPERTY_UNIT_AREA_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="PROPERTY_UNIT_AREA_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PROPERTY_UNIT_DETAIL_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="PROPERTY_UNIT_DETAIL_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PROPERTY_UNITS_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="PROPERTY_UNITS_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PROPERTY_USE_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="PROPERTY_USE_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PROPERTY_USE_SUMMARY_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="PROPERTY_USE_SUMMARY_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PROPERTY_USES_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="PROPERTY_USES_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PROPERTY_VALUATION_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="PROPERTY_VALUATION_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PROPERTY_VALUATION_DETAIL_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="PROPERTY_VALUATION_DETAIL_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PROPERTY_VALUATIONS_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="PROPERTY_VALUATIONS_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PROVIDED_SERVICE_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="PROVIDED_SERVICE_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PROVIDED_SERVICES_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="PROVIDED_SERVICES_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="REAL_PROPERTY_INTEREST_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="REAL_PROPERTY_INTEREST_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="REAL_PROPERTY_INTERESTS_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="REAL_PROPERTY_INTERESTS_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="RECONSIDERATION_OF_VALUE_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="RECONSIDERATION_OF_VALUE_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="RECONSIDERATIONS_OF_VALUE_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="RECONSIDERATIONS_OF_VALUE_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="RELATIONSHIP_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="RELATIONSHIP_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="RELATIONSHIPS_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="RELATIONSHIPS_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="RENEWABLE_ENERGY_COMPONENT_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="RENEWABLE_ENERGY_COMPONENT_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="RENEWABLE_ENERGY_COMPONENTS_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="RENEWABLE_ENERGY_COMPONENTS_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="RENTAL_COMPARISON_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="RENTAL_COMPARISON_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="RENTAL_COMPARISON_DETAIL_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="RENTAL_COMPARISON_DETAIL_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="RENTAL_INFORMATION_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="RENTAL_INFORMATION_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="RENTAL_INFORMATION_SUMMARY_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="RENTAL_INFORMATION_SUMMARY_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="RENTAL_INFORMATION_SUMMARY_DETAIL_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="RENTAL_INFORMATION_SUMMARY_DETAIL_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="RENTAL_INFORMATIONS_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="RENTAL_INFORMATIONS_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="REPLACEMENT_REPRODUCTION_COST_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="REPLACEMENT_REPRODUCTION_COST_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="REPLACEMENT_REPRODUCTION_COSTS_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="REPLACEMENT_REPRODUCTION_COSTS_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ROLE_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="ROLE_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ROLE_DETAIL_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="ROLE_DETAIL_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ROLES_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="ROLES_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ROOF_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="ROOF_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ROOF_DETAIL_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="ROOF_DETAIL_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ROOF_MATERIAL_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="ROOF_MATERIAL_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ROOF_MATERIALS_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="ROOF_MATERIALS_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ROOM_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="ROOM_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ROOM_DETAIL_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="ROOM_DETAIL_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ROOMS_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="ROOMS_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SALES_COMPARISON_APPROACH_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="SALES_COMPARISON_APPROACH_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SALES_COMPARISON_APPROACH_DETAIL_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="SALES_COMPARISON_APPROACH_DETAIL_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SALES_CONTRACT_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="SALES_CONTRACT_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SALES_CONTRACT_DETAIL_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="SALES_CONTRACT_DETAIL_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SALES_CONTRACTS_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="SALES_CONTRACTS_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SALES_HISTORIES_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="SALES_HISTORIES_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SALES_HISTORY_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="SALES_HISTORY_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SCOPE_OF_WORK_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="SCOPE_OF_WORK_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SCOPE_OF_WORK_DETAIL_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="SCOPE_OF_WORK_DETAIL_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SERVICE_DETAIL_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="SERVICE_DETAIL_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SERVICE_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="SERVICE_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SERVICE_PROVIDER_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="SERVICE_PROVIDER_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SERVICES_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="SERVICES_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SIGNATORIES_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="SIGNATORIES_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SIGNATORY_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="SIGNATORY_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SITE_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="SITE_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SITE_DETAIL_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="SITE_DETAIL_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SITE_FEATURE_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="SITE_FEATURE_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SITE_FEATURE_DETAIL_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="SITE_FEATURE_DETAIL_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SITE_FEATURES_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="SITE_FEATURES_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SITE_IMPROVEMENTS_AS_IS_COST_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="SITE_IMPROVEMENTS_AS_IS_COST_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SITE_IMPROVEMENTS_AS_IS_COSTS_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="SITE_IMPROVEMENTS_AS_IS_COSTS_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SITE_INFLUENCE_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="SITE_INFLUENCE_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SITE_INFLUENCE_DETAIL_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="SITE_INFLUENCE_DETAIL_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SITE_INFLUENCES_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="SITE_INFLUENCES_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SITE_SIZE_LAYOUT_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="SITE_SIZE_LAYOUT_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SITE_UTILITIES_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="SITE_UTILITIES_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SITE_UTILITY_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="SITE_UTILITY_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SITE_UTILITY_DETAIL_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="SITE_UTILITY_DETAIL_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SITE_UTILITY_SERVICE_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="SITE_UTILITY_SERVICE_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SITE_UTILITY_SERVICES_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="SITE_UTILITY_SERVICES_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SITE_VIEW_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="SITE_VIEW_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SITE_VIEWS_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="SITE_VIEWS_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SITE_ZONING_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="SITE_ZONING_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SITE_ZONING_DETAIL_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="SITE_ZONING_DETAIL_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SKIRTING_MATERIAL_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="SKIRTING_MATERIAL_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SKIRTING_MATERIALS_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="SKIRTING_MATERIALS_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="STRUCTURE_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="STRUCTURE_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="STRUCTURE_ANALYSES_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="STRUCTURE_ANALYSES_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="STRUCTURE_ANALYSIS_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="STRUCTURE_ANALYSIS_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="STRUCTURE_ANALYSIS_DETAIL_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="STRUCTURE_ANALYSIS_DETAIL_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="STRUCTURE_COMPONENT_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="STRUCTURE_COMPONENT_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="STRUCTURE_COMPONENT_DETAIL_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="STRUCTURE_COMPONENT_DETAIL_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="STRUCTURE_COMPONENTS_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="STRUCTURE_COMPONENTS_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="STRUCTURE_DETAIL_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="STRUCTURE_DETAIL_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SUBJECT_TO_COMPLETION_ITEM_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="SUBJECT_TO_COMPLETION_ITEM_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SUBJECT_TO_COMPLETION_ITEM_DETAIL_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="SUBJECT_TO_COMPLETION_ITEM_DETAIL_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SUBJECT_TO_COMPLETION_ITEMS_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="SUBJECT_TO_COMPLETION_ITEMS_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SWIMMING_POOL_FEATURE_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="SWIMMING_POOL_FEATURE_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SWIMMING_POOL_FEATURES_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="SWIMMING_POOL_FEATURES_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SYSTEM_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="SYSTEM_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SYSTEM_DETAIL_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="SYSTEM_DETAIL_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="TOPOGRAPHIES_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="TOPOGRAPHIES_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="TOPOGRAPHY_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="TOPOGRAPHY_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="UNIT_RENT_SCHEDULE_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="UNIT_RENT_SCHEDULE_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="UNIT_VIEW_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="UNIT_VIEW_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="UNIT_VIEWS_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="UNIT_VIEWS_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="VALUATION_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="VALUATION_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="VALUATION_ANALYSES_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="VALUATION_ANALYSES_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="VALUATION_ANALYSIS_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="VALUATION_ANALYSIS_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="VALUATION_APPROACH_EXCLUSION_REASON_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="VALUATION_APPROACH_EXCLUSION_REASON_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="VALUATION_APPROACH_EXCLUSION_REASONS_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="VALUATION_APPROACH_EXCLUSION_REASONS_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="VALUATION_COMMENTARIES_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="VALUATION_COMMENTARIES_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="VALUATION_COMMENTARY_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="VALUATION_COMMENTARY_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="VALUATION_COMPLETION_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="VALUATION_COMPLETION_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="VALUATION_COMPLETION_DETAIL_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="VALUATION_COMPLETION_DETAIL_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="VALUATION_CONDITION_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="VALUATION_CONDITION_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="VALUATION_CONDITIONS_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="VALUATION_CONDITIONS_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="VALUATION_INTENDED_USE_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="VALUATION_INTENDED_USE_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="VALUATION_INTENDED_USES_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="VALUATION_INTENDED_USES_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="VALUATION_RECONCILIATION_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="VALUATION_RECONCILIATION_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="VALUATION_RECONCILIATION_DETAIL_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="VALUATION_RECONCILIATION_DETAIL_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="VALUATION_RECONCILIATION_SUMMARY_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="VALUATION_RECONCILIATION_SUMMARY_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="VALUATION_RECONCILIATION_SUMMARY_DETAIL_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="VALUATION_RECONCILIATION_SUMMARY_DETAIL_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="VALUATION_REPORT_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="VALUATION_REPORT_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="VALUATION_REPORT_ADDITIONAL_CERTIFICATION_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="VALUATION_REPORT_ADDITIONAL_CERTIFICATION_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="VALUATION_REPORT_ADDITIONAL_CERTIFICATIONS_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="VALUATION_REPORT_ADDITIONAL_CERTIFICATIONS_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="VALUATION_REPORT_ADDITIONAL_INTENDED_USER_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="VALUATION_REPORT_ADDITIONAL_INTENDED_USER_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="VALUATION_REPORT_ADDITIONAL_INTENDED_USERS_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="VALUATION_REPORT_ADDITIONAL_INTENDED_USERS_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="VALUATION_REPORT_DETAIL_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="VALUATION_REPORT_DETAIL_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="VALUATION_RESPONSE_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="VALUATION_RESPONSE_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="VALUATION_REVISION_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="VALUATION_REVISION_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="VALUATION_REVISIONS_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="VALUATION_REVISIONS_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="VALUATION_SOFTWARE_SYSTEM_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="VALUATION_SOFTWARE_SYSTEM_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="VALUATION_SOFTWARE_SYSTEMS_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="VALUATION_SOFTWARE_SYSTEMS_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="VALUATION_UPDATE_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="VALUATION_UPDATE_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="VIEW_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="VIEW_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="VIEW_FILE_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="VIEW_FILE_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="VIEW_FILES_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="VIEW_FILES_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="VIEWS_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="VIEWS_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="WALLS_AND_CEILING_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="WALLS_AND_CEILING_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="WATER_FRONT_FEATURE_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="WATER_FRONT_FEATURE_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="WATER_FRONT_FEATURES_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="WATER_FRONT_FEATURES_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ZONING_ILLEGAL_REASON_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="ZONING_ILLEGAL_REASON_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ZONING_ILLEGAL_REASONS_EXTENSION">
		<xsd:sequence>
			<xsd:element name="MISMO" type="MISMO_BASE" minOccurs="0"/>
			<xsd:element name="OTHER" type="ZONING_ILLEGAL_REASONS_OTHER_BASE" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>